<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/brincos"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Brinco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Brinco de Ouro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img
        src="https://images.pexels.com/photos/10983783/pexels-photo-10983783.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
        class="brinco-img"
      ></ion-img>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Origem</h2>
            <p>País de Origem: Brasil</p>
            <p>Materiais: Ouro 18k e pedrinhas brilhantes</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
